<!-- InstanceBegin template="/Templates/template.dwt" codeOutsideHTMLIsLocked="false" --><!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- InstanceBeginEditable name="doctitle" -->
  <title>Royal Arabians</title>
  <!-- InstanceEndEditable -->
<meta name="description" content="At Royal Arabians it is our mission to breed the best examples of the Arabian horse and to provide a home for them to flourish and grow into their maximum potential.">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/site.css">  

  <script src="../js/libs/modernizr-2.5.3.min.js"></script>
  <!-- InstanceBeginEditable name="head" -->
  <link rel="stylesheet" href="css/social.css" />
  <script src="js/jquery-1.7.2.min.js"></script>
  <script src="js/jquery.autolink.js"></script>
  <script src="js/jquery.timeago.js"></script>
  <script src="js/jquery.tmpl.js"></script>
  <script src="js/twitter-text.js"></script>
  <script src="js/hju.js"></script>
  <script src="js/masonry.pkgd.min.js"></script>
  <script src="js/jquery.imagesloaded.min.js"></script>
  <script src="js/social.js"></script>

  <!-- InstanceEndEditable -->
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<div class="container">
  <header>
  <img src="../img/logo.png">
	<ul>
	  <li><a href="../index.html">Home</a></li>
	  <li><a href="../horses/mares.html">Mares</a></li>
      <li><a href="../horses/stallions.html">Stallions</a></li>
	  <li><a href="../horses/royal-foals.html">Royal Foals</a></li>
	  <li><a href="../horses/offerings.html">Offerings</a></li>
	  <li><a href="../about-us/index.html">About Us</a></li>
	  <li><a href="../calendar/index.html">Calendar</a></li>
	  <li><a href="../news/index.html">News</a></li>
	  <li><a href="index.html">Social Media</a></li>
	  <li><a href="../contact-us/index.html">Contact</a></li>
    </ul>
  </header>
  <!-- InstanceBeginEditable name="content" -->
  <div class="main">
<h1>Social Media</h1>
  <!-- Facebook BEGIN -->
  <h2 id="facebook_header">Facebook</h2>
  <ul id="facebook">
    <li class="loading">Loading…</li>
  </ul>
  <h2 id="facebook_header">Albums</h2>
  <ul id="facebook_albums">
    <li class="loading">Loading albums…</li>
  </ul>
  <script id="facebook_template" type="text/x-jquery-tmpl">
      {{if type != "status" || typeof message != "undefined" || typeof caption != "undefined" }}
      <li>
        <div class="content clearfix">
            {{if picture}}
              <a class="image" href="${link}" target="_blank"><img alt="picture" src="${Social.facebookPictureURL(picture)}"></a>
            {{/if}}
            {{if message}}
            <p class="html_message">{{html message}}</p>
            {{/if}}
            {{if caption}}
            <p class="html_caption">{{html caption}}</p>
            {{/if}}
            {{if type == "link"}}
            <div class="link">
              <a href="${link}" target="_blank"><strong>${name}</strong></a> <i>${caption}</i>
              {{if description}}
                <p>${description}</p>
              {{/if}}
            </div> <!--// .link -->
            {{/if}}
        </div> <!--// .content -->
        <div class="footer">
          Posted <span class="fb_date" title="${created_time}">${created_time}</span> on <a class="author" href="http://www.facebook.com/profile.php?id=${from.id}" target="_blank">Facebook</a>
        </div> <!--// .footer -->
      </li>
      {{/if}}
  </script>
  <script id="facebook_album_template" type="text/x-jquery-tmpl">
    {{if type != "friends_walls"}}
    <li>
      <a href="${link}" class="album_cover" target="_blank"><img src="https://graph.facebook.com/${id}/picture?type=album" alt="picture"></a>
      <a href="${link}" class="album_name" target="_blank">${name}</a>
      <span>
        {{if count}}
          {{if count == 1}}
            1 photo
          {{else}}
          ${count} photos
          {{/if}}
        {{/if}}
      </span>
    </li>
    {{/if}}
  </script>
  <script>
      // "103882419703669" is Facebook page ID
      // "392120024178056|aqQUlwOblkyuLzKmxZm39SeBVck" is Facebook authentication token
      Social.facebook("RoyalArabiansLLC", "392120024178056|aqQUlwOblkyuLzKmxZm39SeBVck");
  </script>
  <!-- Facebook END -->

  </div>
  <!-- InstanceEndEditable -->
  <footer>
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="../horses/stallions.html">Stallions</a></li>
      <li><a href="../horses/mares.html">Mares</a></li>
      <li><a href="../horses/royal-foals.html">Royal Foals</a></li>
      <li><a href="../about-us/index.html">About Us</a></li>
      <li><a href="../calendar/index.html">Calendar</a></li>
      <li><a href="../news/index.html">News</a></li>
      <li><a href="../contact-us/index.html">Contact Us</a></li>
    </ul>
    <div id="Footer" class="footcont cms-editable">&copy; Royal Arabians   1660 N. Lindsay Road, Mesa, Arizona 85213<br>480-254-3178<br><br>Designed by <a href="http://arabhorse.com" target="_blank">arabhorse.com</a></div>

  </footer>
</div>

  <!-- InstanceBeginEditable name="foot" -->
<!--    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script> -->
    <script src="../js/plugins.js"></script>
    <script src="../js/script.js"></script>
  <!-- InstanceEndEditable -->
  
<script>
    var _gaq=[['_setAccount','UA-22883264-53'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
<!-- InstanceEnd --></html>